<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niec.mall.dao.UmsRoleMapper">

<!--    <resultMap type="com.niec.mall.entity.UmsRole" id="UmsRoleMap">-->
<!--        <result property="id" column="id" jdbcType="INTEGER"/>-->
<!--        <result property="name" column="name" jdbcType="VARCHAR"/>-->
<!--        <result property="description" column="description" jdbcType="VARCHAR"/>-->
<!--        <result property="adminCount" column="admin_count" jdbcType="INTEGER"/>-->
<!--        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>-->
<!--        <result property="status" column="status" jdbcType="INTEGER"/>-->
<!--        <result property="sort" column="sort" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

    <resultMap type="com.niec.mall.entity.UmsAdmin" id="UmsAdminMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getUserListById" resultType="com.niec.mall.entity.UmsRole">
        select * from ums_role;
    </select>
</mapper>